html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    scroll-behavior: smooth;
}

.background-yellow {
    background-attachment: fixed;
    background-image: url(/yellow-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
